.about {
  grid-row: 2 / span 1;
  grid-column: 1 / -1;

  display: grid;
  grid-template-rows: repeat(8, 12.5%);
  grid-template-columns: repeat(5, 15%) 1fr;

  position: relative;
  overflow: hidden;

  &__header-drip {
      height: 125%;
      width: 125%;
      position: absolute;
      top: -35%;
      left: -10%;

      fill: url(#imgpattern);
  }

  &__background {
    position: absolute;
    left: 65%;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;

    background-color: $color-grey-light-3;
    -webkit-mask-image: url(../images/planet-7.svg);
    mask-image: url(../images/planet-7.svg);
    mask-repeat: no-repeat;
  }

  &__astro {
    width: 300px;
    height: 300px;
    grid-row: 4 / span 2;
    grid-column: 1 / span 2;
    fill: $color-black;
    justify-self: center;
    // overflow: visible;
    // transform: scale(2);
    // margin-left: 10%;

  }

  &__details {
      grid-row: 4 / span 2;
      grid-column: 3 / span 2;
      font-family: 'Titillium Web', sans-serif;

      &-header {
        font-size: 5rem;
      }

      &-text {
        font-size: 2rem;
      }
  }
}
