.contact {
  background-image: linear-gradient(to right, $color-primary, $color-secondary);

  grid-row: 5 / span 1;
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  font-family: "Titillium Web", sans-serif;

  &__background1 {
    position: absolute;
    height: 90%;
    width: 90%;
    z-index: 2;

    background-color: $color-secondary-light;
    -webkit-mask-image: url(../images/astro1.svg);
    mask-image: url(../images/astro1.svg);
    mask-repeat: no-repeat;
    overflow: hidden;
  }

  &__header {
    font-size: 4rem;
    letter-spacing: .2rem;
    color: $color-grey-dark-3;
    font-family: "Orbitron", sans-serif;
    margin: 0 auto;
    margin-bottom: 2rem;

    @include respond(phone) {
        text-align: center;
    }
  }

  &__sub {
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: $color-grey-dark-2;
    font-family: "Orbitron", sans-serif;
    margin: 0 auto;
    margin-bottom: 4rem;

    @include respond(phone) {
        text-align: center;
        font-size: 1.4rem;
    }
  }

  &__form {
    position: relative;
    width: 50%;
    // height: 50%;
    padding: 4rem;
    z-index: 10;
    background: rgba($color-white, .8);
    border-radius: 5px;
    padding-bottom: 2.5rem;

    @include respond(tab-land) {
        width: 75%;
    }

    @include respond(phone) {
        width: 95%;
        padding: 4rem 2rem;
        margin-top: 8rem;;
    }
  }

  &__form:after {
      content: "";
      width: 100%;
      height: 16%;
      background-color: rgba($color-primary, 1);
      position: absolute;
      top: 84%;
      left: 0%;
      z-index: -1;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;

      @include respond(phone) {
        height: 0%;
    }
  }

}


.form {
    display: flex;
    flex-direction: column;
    

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    // &__group:last-child {
    //     margin-bottom: 4rem;
    // }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .8);
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all .3s;

        @include respond(tab-port) {
            width: 100%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary-dark;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    &__label {
        font-size: 2rem;
        font-weight: 400;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__button-container {
        margin-top: 3rem;

        @include respond(phone) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__button {
        width: 300px;
        margin: 0 auto;
        color: $color-white;
        background-color: $color-primary;

        @include respond(phone){
            border: none;
        }

        @include respond(big-desktop) {
        width: 350px;
        height: 65px;
      }

        &-icon {
            fill: $color-white;
        }
    }
}