.projects {
  background-color: #444;

  grid-row: 4 / span 1;
  grid-column: 1 / -1;

  font-family: "Titillium Web", sans-serif;
  overflow: hidden;

  position: relative;

  &__background1 {
    position: absolute;
    height: 90%;
    width: 90%;
    // left: 25%;
    // top: -5rem;
    background-color: $color-grey-dark-3;
    -webkit-mask-image: url(../images/Planets32.svg);
    mask-image: url(../images/Planets32.svg);
    mask-repeat: no-repeat;
    overflow: hidden;
  }

  &__background2 {
    position: absolute;
    height: 50%;
    width: 50%;

    top: 45%;
    left: 55%;
    
    background-color: $color-grey-dark-3;
    -webkit-mask-image: url(../images/Astronaut1.svg);
    mask-image: url(../images/Astronaut1.svg);
    mask-repeat: no-repeat;
    overflow: hidden;
    transform: scaleX(-1);
  }
}

.projects__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  //   background: #444;
  overflow: hidden;
}

.card {
  position: relative;
  background: #333;
  width: 400px;
//   height: 75vh;
    height: 520px;
  border-radius: 6px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;

  &__image-container {
    margin: -2rem -2rem 1rem -2rem;
    // height: 37.5vh;
    height: 275px;
    width: 400px;
    // z-index: 8;
    //  object-fit: cover;
  }

  &__line {
    opacity: 0;
    // animation: LineFadeIn 0.8s 0.8s forwards ease-in;

    &-animated {
      opacity: 0;
      animation: LineFadeIn 0.8s 0.8s forwards ease-in;
    }
  }

  &__image {
    height: 100%;
    opacity: 0;

    &-animated {
      height: 100%;
      opacity: 0;
      animation: ImageFadeIn 0.8s 1.4s forwards;
    }
  }

  &__title {
    color: white;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
    font-size: 4rem;
    text-transform: uppercase;
  }

  &__content {
    margin-top: -1rem;
    opacity: 0;
    height: 28vh;
    // z-index: 10;

    &-animated {
      margin-top: -1rem;
      opacity: 0;
      height: 28vh;
      animation: ContentFadeIn 0.8s 1.6s forwards;
    }
  }

  &__svg {
    position: absolute;
    left: 0;
    top: 10%;
    // z-index: 9;
  }

  &__text {
    font-size: 1.8rem;
  }

  &__footer {
    position: absolute;
    top: 90%;
    left: 5%;
    font-size: 3rem;
    opacity: 0;

    &-animated {
      font-size: 3rem;
      opacity: 0;
      animation: ContentFadeIn 0.8s 1.6s forwards;
    }
  }
}

.btn-link {
  &,
  &:link,
  &:visited {
    display: inline-block;
    transition: all 0.2s;
  }

  &:hover {
    color: $color-white;
    transform: translateY(-2px);
  }
}

.link {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 1.6rem;
  }
}

#portfolio-1__img {
  //   transform: translateX(-6rem);
  //   -webkit-transform: translateX(-6rem);
}

#agility__img {
  transform: translate(-10rem, 0);
  -webkit-transform: translate(-10rem, 0);
}

#trigger1 {
  position: absolute;
  top: -12.5vh;
}
