.projects {
  background-color: #444;

  grid-row: 4 / span 1;
  grid-column: 1 / -1;

  font-family: "Titillium Web", sans-serif;

  position: relative;

  &__header {
    font-family: "Orbitron", sans-serif;
    font-size: 5rem;
    color: $color-white;
    letter-spacing: 0.2rem;
    position: absolute;
    left: 50%;
    top: 3%;
    transform: translate(-50%, -50%);
    z-index: 50;

    @include respond(phone) {
      top: 8%;
    }
  }

  &__swipeText {
    display: none;

    @include respond(phone) {
      color: $color-grey-light-3;
      font-family: "Orbitron", sans-serif;
      font-size: 2rem;
      display: inline-block;
      position: absolute;
      top: 16%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
    }

    &-animated {
      animation: pulseText 2s 3;
    }
  }

  &__background1 {
    position: absolute;
    height: 90%;
    width: 90%;

    background-color: $color-grey-dark-3;
    -webkit-mask-image: url(../images/Planets32.svg);
    mask-image: url(../images/Planets32.svg);
    mask-repeat: no-repeat;
    overflow: hidden;

    @include respond(phone) {
      top: 3%;
    }
  }

  &__background2 {
    position: absolute;
    height: 50%;
    width: 50%;

    top: 45%;
    left: 55%;

    background-color: $color-grey-dark-3;
    -webkit-mask-image: url(../images/Astronaut1.svg);
    mask-image: url(../images/Astronaut1.svg);
    mask-repeat: no-repeat;
    overflow: hidden;
    transform: scaleX(-1);

    @include respond(phone) {
      top: 77%;
    }
  }

  &__arrow {
    height: 100px;
    width: 80px;
    fill: $color-white;
    transition: all 0.2s;
    margin: 0 2rem;
    cursor: pointer;
    // flex-basis: 25%;

    @include respond(phone) {
      display: none;
    }

    &-left {
      transform: rotate(-90deg);

      &:hover {
        transform: translateX(-3px) rotate(-90deg);
      }

      &:active {
        transform: translateX(-1px) rotate(-90deg);
      }
    }

    &-right {
      transform: rotate(90deg);

      &-animated {
        transform: rotate(90deg);
        animation: pulseRight 3s 4;

        &:hover {
          transform: translateX(-3px) rotate(90deg);
        }

        &:active {
          transform: translateX(-1px) rotate(90deg);
        }
      }

      &:hover {
        transform: translateX(-3px) rotate(90deg);
      }

      &:active {
        transform: translateX(-1px) rotate(90deg);
      }
    }
  }
}

.projects__container {
}

.card {
  position: relative;
  background: #333;
  width: 400px;
  height: 520px;
  border-radius: 6px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  opacity: 1;
  transition: all 0.2s;
  display: inline-block;
  // flex-basis: 25%;
  margin: 0 10rem;

  @include respond(phone) {
    width: 100vw;
    padding: 2rem;
    margin: 0;
    margin-top: 15rem;
    border-radius: 6px;
  }

  &-animated {
    opacity: 0;
    animation: moveInFromBottom 0.5s 0.5s forwards ease-in;
  }

  &__image-container {
    margin: -2rem -2rem 1rem -2rem;
    height: 275px;
    width: 400px;

    @include respond(phone) {
      width: 100vw;
      border-radius: 6px;
    }
  }

  &__line {
    opacity: 0;

    @include respond(phone) {
      width: 100vw;
    }

    &-animated {
      opacity: 0;
      animation: LineFadeIn 0.8s 0.2s forwards ease-in;
    }
  }

  &__image {
    height: 100%;
    opacity: 0;

    &-animated {
      height: 100%;
      opacity: 0;
      animation: ImageFadeIn 0.8s 0.6s forwards;
    }
  }

  &__title {
    color: white;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
    font-size: 4rem;
    text-transform: uppercase;
  }

  &__content {
    margin-top: -1rem;
    opacity: 0;
    height: 28vh;

    &-animated {
      margin-top: -1rem;
      opacity: 0;
      height: 28vh;
      animation: ContentFadeIn 0.8s 0.8s forwards;
    }
  }

  &__svg {
    position: absolute;
    left: 0;
    top: 10%;
    @include respond(phone) {
      width: 100vw;
    }
  }

  &__text {
    font-size: 1.8rem;

    @include respond(phone) {
      max-width: 90%;
    }
  }

  &__footer {
    position: absolute;
    top: 90%;
    left: 5%;
    font-size: 3rem;
    opacity: 0;

    &-animated {
      position: absolute;
      top: 90%;
      left: 5%;
      font-size: 3rem;
      opacity: 0;
      animation: ContentFadeIn 0.8s 0.8s forwards;
    }
  }
}

.btn-link {
  cursor: pointer;
  &,
  &:link,
  &:visited {
    display: inline-block;
    transition: all 0.2s;
  }

  &:hover {
    color: $color-white;
    transform: translateY(-2px);
  }
}

.link {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 1.6rem;
  }
}

#portfolio-1__img {
}

#agility__img {
  transform: translate(-10rem, 0);
  -webkit-transform: translate(-10rem, 0);
  border-radius: 6px;
}

#trigger1 {
  position: absolute;
  top: 0;

  @include respond(phone) {
    top: 33vh;
  }
}

.transGroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  overflow: hidden;
}

.cardTrans {
  &-enter {
    padding: 0;
    max-width: 0;
    opacity: 0;
    margin: 0;

    & > div > p {
      // opacity: 0;
      font-size: 0rem;
    }
  }

  &-enter-active {
    max-width: 400px;
    opacity: 1;
    transition: all 2s;
    margin: 0 10em;
    padding: 2rem;

    & > div > p {
      // opacity: 1;
      font-size: 1.8rem;
    }
  }

  &-exit {
    max-width: 400px;
    opacity: 1;
    margin: 0 10em;
    padding: 2rem;

    & > div > p {
      // opacity: 1;
      font-size: 1.8rem;
    }
  }

  &-exit-active {
    padding: 0;
    max-width: 0;
    opacity: 0;
    transition: all 2s;
    margin: 0;

    & > div > p {
      // opacity: 0;
      font-size: 0rem;
    }
  }
}

.arrow-right {
  &-enter {
    height: 100px;
    width: 80px;
    opacity: 0;
    transition: all 5s;
  }

  &-enter-active {
    height: 100px;
    width: 80px;
    opacity: 1;
    transition: all 5s;
  }

  &-exit {
    height: 100px;
    width: 80px;
    opacity: 1;
    transition: all 5s;
  }

  &-exit-active {
    height: 100px;
    width: 80px;
    opacity: 0;
    transition: all 5s;
  }
}

.arrow-left {
  &-enter {
    height: 100px;
    width: 80px;
    opacity: 0;
    transition: all 5s;
  }

  &-enter-active {
    height: 100px;
    width: 80px;
    opacity: 1;
    transition: all 5s;
  }

  &-exit {
    height: 100px;
    width: 80px;
    opacity: 1;
    transition: all 5s;
  }

  &-exit-active {
    height: 100px;
    width: 80px;
    opacity: 0;
    transition: all 5s;
  }
}

.arrow-placeholder {
  height: 100px;
  width: 80px;
  margin: 0 2rem;
  transition: all 4s;
  // flex-basis: 25%;

  @include respond(phone) {
    display: none;
  }
}

.carousel {
  // width: 100vw;
  display: none;

  @include respond(phone) {
    display: inline-block;
  }
}

.cardGroupTrans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
