@keyframes twinkle {
    0% {
        opacity: .45;
    }

    100% {
        opacity: 1;
    }
}

@keyframes orbit {
    0%   { transform: rotate(360deg) translateX(225%) translateY(-40%); }
    90% { transform: rotate(0deg) translateX(220%) translateY(-40%); }
    100% { transform: rotate(0deg) translateX(220%) translateY(-40%); }
}